<div class="btn-group">
  <button type="button" class="btn btn-outline-success" routerLink='/drones'>Drones</button>
  <button type="button" class="btn btn-outline-success" routerLink='/players'>Players</button>

<div class="btn-group">
  <button type="button" class="btn btn-primary" routerLink='/gears'>Gears</button>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button class="dropdown-item" routerLink='/engines'>Engines</button>
      <button class="dropdown-item" routerLink='/propellers'>Propellers</button>
      <button class="dropdown-item" routerLink='/shields'>Shields</button>
      <button class="dropdown-item" routerLink='/weapons'>Weapons</button>
    </div>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary" routerLink='/attacks'>Attack</button>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button class="dropdown-item" routerLink='/fire'>Fire</button>
      <button class="dropdown-item" routerLink='/electricity'>Electricity</button>
      <button class="dropdown-item" routerLink='/explosive'>Explosive</button>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
