<div class="container-fluid">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Damages</th>
        <th scope="col">Ammunition</th>
        <th scope="col">Cooldown</th>
        <th scope="col">Precision</th>
        <th scope="col">Quick Fire ?</th>
        <th scope="col">Picture</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attack of attacksList">
        <th scope="row">{{attack._id}}</th>
        <td>{{attack.damage}}</td>
        <td>{{attack.ammo}}</td>
        <td>{{attack.cooldown}}</td>
        <td>{{attack.aim}}</td>
        <td>{{attack.quickFire}}</td>
        <td>{{attack.source}}</td>
      </tr>
    </tbody>
  </table>
</div>