<table class="table w-100">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Level</th>
      <th>Health</th>
      <th>Action points</th>
      <th>Picture</th>
      <th>Cost</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>
        <input type="text" [(ngModel)]="newDrone.name">
      </td>
      <td>
        <input type="text" [(ngModel)]="newDrone.description">
      </td>
      <td>
        <input type="number" [(ngModel)]="newDrone.level">
      </td>
      <td>
        <input type="number" [(ngModel)]="newDrone.life">
      </td>
      <td>
        <input type="number" [(ngModel)]="newDrone.actionPoints">
      </td>
      <td>
        <input [(ngModel)]="newDrone.source">
      </td>
      <td>
        <input type="number" [(ngModel)]="newDrone.cost">
      </td>
      <td>
        <button (click)="addDrone()">Add</button>
      </td>
    </tr>
    <tr *ngFor="let drone of dronesList">
      <td>{{drone._id}}</td>
      <td>{{drone.name}}</td>
      <td>{{drone.description}}</td>
      <td>{{drone.level}}</td>
      <td>{{drone.life}}</td>
      <td>{{drone.actionPoints}}</td>
      <td>{{drone.source}}</td>
      <td>{{drone.cost}}</td>
      <td>
        <button (click)="openModalUpdate(drone)">Update</button>
        <button (click)="deleteDrone(drone._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
