<div class="modal-header">
  <h4 class="modal-title">Update drone {{drone._id}}</h4>
</div>
<div class="modal-body">
  <input type="text" [(ngModel)]="drone.name">
  <input type="text" [(ngModel)]="drone.description">
  <input type="number" [(ngModel)]="drone.level">
  <input type="number" [(ngModel)]="drone.life">
  <input type="number" [(ngModel)]="drone.actionPoints">
  <input [(ngModel)]="drone.source">
  <input type="number" [(ngModel)]="drone.cost">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="update()">Update</button>
  <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
</div>