<div class="container-fluid">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Level</th>
        <th scope="col">Cost</th>
        <th scope="col">Picture</th>
        <th scope="col">Engine Action points</th>
        <th scope="col">Propeller Speed</th>
        <th scope="col">Shield Capacity</th>
        <th scope="col">Shield Block</th>
        <th scope="col">is Primary Weapon?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gear of gearList">
        <th scope="row">{{gear._id}}</th>
        <td>{{gear.name}}</td>
        <td>{{gear.description}}</td>
        <td>{{gear.level}}</td>
        <td>{{gear.cost}}</td>
        <td>{{gear.source}}</td>
        <td>{{gear.engine.actionPoints}}</td>
        <td>{{gear.propeller.speed}}</td>
        <td>{{gear.shield.capacity}}</td>
        <td>{{gear.shield.block}}</td>
        <td>{{gear.weapon.isPrimary}}</td>
      </tr>
    </tbody>
  </table>
</div>